<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-继承.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-字符串简介.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-重写description方法和变量的作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-字符串(不可变字符串).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC33E2491BE0601A001DB201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC33E2671BE069A7001DB201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC33E2771BE07328001DB201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC33E28A1BE07B1D001DB201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC33E2A61BE0A8CE001DB201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC33E2B91BE0BDB0001DB201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
