<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-昨天作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-字典(不可变字典).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-不可变字典的其他方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-字典(可变字典).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-可变字典的其他方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-午间作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC6940701BE8433D00E706D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6940881BE8457000E706D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6940981BE84B4C00E706D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6940A81BE8591300E706D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6940B81BE85AAD00E706D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6940C81BE888D700E706D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
